// ------------------------------------------------------------------------
// VARS
// ------------------------------------------------------------------------

$greyDDD: #333;
$greyDD: #666;
$greyM: #787878;
$greyL: #bbb;
$greyLL: #cdcdcd;
$greyLLL: #eee;
$greyLLLL: #F6F6F6;
$redD: #D0011B;
$redDD: #930D1E;

// BOOTSTRAP DEFAULTS
$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1070px;

$menuHeight: 60px;

// ------------------------------------------------------------------------
// MIXINS
// ------------------------------------------------------------------------

@mixin fontSmall{
  font-family: Tahoma, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 13px;
}

@mixin propTransition($prop, $speed, $ease){
  -webkit-transition: $prop $speed $ease;
  -moz-transition: $prop $speed $ease;
  -o-transition: $prop $speed $ease;
  -ms-transition: $prop $speed $ease;
  transition: $prop $speed $ease;
}

@mixin rounded($radius) {
  -webkit-border-radius: $radius; 
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}


// ------------------------------------------------------------------------
// SCSS
// ------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.appp{
  height: 100vh;

  .row{
    height: 100%;
  }
}

.appp-header{
  position: fixed;
  width: 100%;
  height: $menuHeight;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid $greyLLL;
  padding: 20px;
}

.appp-main{
  padding-top: $menuHeight;
  height: 100%;
}

.appp-left{
  border-right: 1px solid $greyLLL;
  height: 100%;
}

// ------------------------------------------------------------------------
// MEDIA QUERIES
// ------------------------------------------------------------------------

// Extra small devices (phones, less than 768px) 
// No media query since this is the default

// Small devices (tablets, 768px and up)
// @media (min-width: $screen-sm-min) {}

// Medium devices (desktops, 992px and up)
// @media (min-width: $screen-md-min) {

// Large devices (large desktops, 1200px and up)
// @media (min-width: $screen-lg-min) {}

