// ------------------------------------------------------------------------
// VARS
// ------------------------------------------------------------------------

$greyDDD: #333;
$greyDD: #666;
$greyM: #787878;
$greyL: #bbb;
$greyLL: #cdcdcd;
$greyLLL: #eee;
$greyLLLL: #F6F6F6;
$redD: #D0011B;
$redDD: #930D1E;

// BOOTSTRAP DEFAULTS
$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1070px;

$menuHeight: 60px;

// ------------------------------------------------------------------------
// MIXINS
// ------------------------------------------------------------------------

@mixin fontSmall{
  font-family: Tahoma, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 13px;
}

@mixin propTransition($prop, $speed, $ease){
  -webkit-transition: $prop $speed $ease;
  -moz-transition: $prop $speed $ease;
  -o-transition: $prop $speed $ease;
  -ms-transition: $prop $speed $ease;
  transition: $prop $speed $ease;
}

@mixin rounded($radius) {
  -webkit-border-radius: $radius; 
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}


// ------------------------------------------------------------------------
// SCSS
// ------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&subset=cyrillic,latin-ext');
// font-family: 'Rubik', sans-serif;

*{
  font-family: 'Rubik', sans-serif;
  padding: 0; margin: 0;
  letter-spacing: .03em;
  box-sizing: border-box;
}

.appp{
  height: 100vh;

  .row{
    height: 100%;
  }
}

.appp-header{
  position: fixed;
  width: 100%;
  height: $menuHeight;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid $greyLLL;
  padding: 20px;
}

.appp-main{
  padding-top: $menuHeight;
  height: 100%;
}

.appp-left{
  border-right: 1px solid $greyLLL;
  height: 100%;
}

.appp-right{
  height: 100%;
  padding: 0;
}

.tmp-filters{
  margin-right: 5px;
}

svg{
  width: 100%;
  height: 100%;
  g.svg-map{
    stroke: white;
    stroke-width: 1;
    fill: $greyLLL;
    opacity: 1;
    @include propTransition(opacity, .3s, ease-in);
    &.show{
      opacity: 1;
    }
  }
  g.svg-path-lines{
    .svg-path-line{
      stroke: black;
      stroke-width: 1.5;
      opacity: 0.5;
      opacity: 1;
      stroke-linecap: round;
      fill: none;
      @include propTransition(opacity, .3s, ease-in);
      &.small{
        stroke-width: 0.5;
        stroke: rgba(0,0,0, 0.5);
      }
    }
  }
  g.svg-grid-lines{
    line{
      stroke: rgba(0,0,0, 0.05);
    }
    rect.matrix-bg{
      fill: white;
    }
  }
  g.svg-grid-names{
    text{
      font-size: 11px;
    }
  }
  #hover-dot-map{
    fill: black;
    stroke: white;
  }
  #hover-line-matrix{
    stroke: rgba(0,0,0, 0.2);
  }
}

// ------------------------------------------------------------------------
// MEDIA QUERIES
// ------------------------------------------------------------------------

// Extra small devices (phones, less than 768px) 
// No media query since this is the default

// Small devices (tablets, 768px and up)
// @media (min-width: $screen-sm-min) {}

// Medium devices (desktops, 992px and up)
// @media (min-width: $screen-md-min) {

// Large devices (large desktops, 1200px and up)
// @media (min-width: $screen-lg-min) {}

